@charset "UTF-8";
*{
    font-family:cursive;
    font-size: 17px;
}
body{
    background-image: linear-gradient(to right, rgba(105, 4, 4, 0.822),rgb(206, 6, 6));
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px red;
    width: 600px;
    padding: 10px;
    margin: auto;
text-align: justify;
}h1{
    text-align: center;
    color: rgb(53, 184, 53);
    text-shadow: 2px 2px 1px rgb(9, 105, 9);
}h2{
    text-align: center;
    color: green;
     text-shadow: 2px 2px 1px rgb(9, 105, 9);
}